p{
    color: white;
}
body{
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat ;
        background-attachment: fixed;
        background-size: cover;
        font-size: 20px;
}
legend{
    font-family: 'Pacifico', cursive;
    color: white;
}
button{
    color: black;
}
::placeholder{
    color: black;
}